.navbar-brand {
  font-size: 16px;

  align-items: flex-start;
}

.contact {
  margin: 0;

  padding: 0;
}

.navbar.navbar-expand-md.bg-dark.navbar-dark {
  width: 100vw;
}

footer .navbar.navbar-dark.bg-dark {
  align-items: flex-start;

  width: 100vw;
}

.links {
  padding: 0;

  margin: 0;
}

#state {
  width: 20%;

  display: inline-block;
}

.main-content-profile {
  margin-top: 15px;

  margin-bottom: 15px;

  min-height: calc(100vh - 253px);

  width: 100vw;
}

.main-content-welcome {
  margin-top: 25px;

  min-height: calc(100vh - 253px);

  align-items: center;
}

.btn {
  width: 25%;
}

.profile {
  margin-left: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.card {
  width: 25rem;
}

.btn.btn-info {
  width: 80%;
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron.jumbotron-fluid {
  text-align: center;
  border-radius: 8%;
  padding: 1rem 0 1rem 0;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 0.1) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.1) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.2), rgba(0, 0, 255, 0.1) 70.71%);
}
